/* dark back : #212529 */


body
{
  background-color: #212529;
}

a, a:hover
{
    text-decoration: none;
}


.signup
{
    margin-right: 6px;
}

.signup a:hover
{
    color: #a5a58d;
}

.collapse
{
  float: right;
}

h1
{
  color: #f8f9fa;
}
